DATABASE_HOSTNAME=localhost
DATABASE_PORT=5432
DATABASE_PASSWORD=somepassword
DATABASE_NAME=somedbname
DATABASE_USERNAME=mayberoot

GITHUB_CLIENT_ID=1263c2f008e14a86ffa7
GITHUB_SECRET_KEY=85d9584157efb1656c8a23c285412d8bd9ce9ea3


SECRET_KEY=thisisasecret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DEBUGGING=True